.profile-listCollection{
    margin-bottom:32px;

    .heading{
        text-transform: uppercase;
        border-bottom: 3px solid #000;

        h2{
            margin: 0 0 8px 0;
        }
    }

    ul{
        list-style: none;
        padding: 0;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        
        li{
            font-size:16px;
            font-weight: 500;
            padding-bottom: 6px;
        }
    }
}